{% extends "layout.html" %}
{% block body %}
	
<div class= 'bg-light p-5'>

	<section class = "d-flex p-2 bd-highlight justify-content-start m-4 border bg-white">
	
		<div>

	<h1 class='text-danger'>Delete Item: {{item.name}}</h1>

	<form action='#' method = 'post'>
		<p>Are you sure you would like to delete item: {{item.name}}?</p>
		<input type='submit' value='Delete' >

	<a href='{{url_for('showItem', category_name = category.name, item_name = item.name) }}'>Cancel</a>

		</div>
	</section>

</div>

{% endblock %}